.App,.cv {
  width: 650px;
  border: 1px solid;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

.App {
  height: 530px;
}

.cv {
height: auto;
}

.header {
  text-align: center;
  padding: 5px;
}

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 20px;
  background-color: lightgrey;
}

input {
  margin: 5px;
  width: 250px;
}

button {
  padding: 5px;
}